@font-face {
  font-family: Nasalization;
  src: url("./nasalization-rg.otf");
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 25vh;

  color: #fff;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 130px;

  background-color: rgba(0, 0, 0, 0.4);
  font-family: Nasalization;
  font-size: 6rem;
}

.logo-container img {
  height: 100%;
}

.attribution {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.attribution p {
  text-align: center;
}

.attribution a {
  color: #fff;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;
  background-color: #eaedf0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-header {
  padding: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}

.form-inputs {
  box-shadow: 0 5px 5px #dddede, 0 -5px 5px #dddede;
  padding: 40px;
  background-color: #f6f7f8;
}

.form-inputs p {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 80px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.input-wrapper input {
  padding: 7px;
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.input-wrapper input:focus {
  border: 1px solid #393ec8;
  box-shadow: 3px 3px 5px #dddede;
}
